@import 'tailwindcss';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html,
body
 {
  width: 393px;
  height: 100%;
      margin: 0 auto;
}

#root{
  width: 393px;
      margin: 0 auto;
}

/* Base */
body {
  font-family:
    'Pretendard',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  padding-top: 100px;
  background: #ffffff;
  color: #000000;
}

/* Remove defaults */

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  border: none;
  outline: none;
}
